[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/wangyilin1987/fc.git
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/wangyilin1987/appbase.git
